*{
  background: linear-gradient(to bottom right, #1A1F21 30%, #6A7F87 100%);
}
.global-background {
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: -10px;
    box-sizing: border-box;
    width: 1230px;
    height: auto;
    display: flex;
}
.banner{
  height: 189px;
  margin-left: 198px;
  margin-top: 52px;
} 
.logo{
    width: 50%;
    /* height: 600px; */
    margin-left: 250px;
}

.button{
    width: 183.21px;
    height: 57px;
    background-color: #1A1F21;
    border: 1px solid #F94D53;
    border-radius: 21PX;
    color: #F94D53;
    box-shadow: 5px 5px #2e1616;
}
.signin{
    margin-left: -1040px;
    margin-top: 300px;
}
.signup{
    margin-left: -1040px;
    margin-top: 410px;
}
.bannersignup{
  width: 50%;
  height: 560px;
}
.loginfield,.signupfield{
    height:fit-content;
    width: 500px;
    border: 1px solid #F94D53;
    margin: 60px 30px;
    /* background: transparent; */
}
legend{
    color: white;
    background: transparent;
}
sup{
    color: red;
}
input {
    text-align: center;
    border: 1px solid #F94D53;
    height: 25px;
    box-shadow: 5px 5px black;
}
input::placeholder{
  color: white;
}
.loginButton{
    height: 40px;
    width: 80px;
    /* margin-top: 15px; */
    box-shadow: 5px 5px  #1A1F21;
}
form,.login,li,aside,.navcontainer,ul,table,tr,td,tbody,sup,a,h1,.genre-filter,.subtitle,.pagination,.page{
  background: transparent;
}
.asignup{
  background: transparent;
    margin-top: 15px;
    color: white;
}
a{
    text-decoration: underline;
    color: #F94D53;
}
table{
    margin-left: 90px;
    color: aliceblue;
}
.signout:hover{
  cursor: pointer;
}
.genre-filter button{
  margin: 5px;
  color: wheat;
  border: 1px solid #F94D53;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card1 {
    height: 280px;
    width: 200px;
    /* border: 1px solid #F94D53; */
    margin: 5px;
    border-radius: 7px;
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative; 
  }
  #homeimage{
    width: 100%!important;
    height: 200px;
    border-radius: inherit;
    transition: all 0.3s ease;
  }
  
  .card1:hover .images {
    height: 220px;
    width: 100%;
  }
  
  .details {
    height: 180px;
    background-color: white;
    /* padding: 5px; */
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 0.3s ease;
  }
  .details h4{
    width: 150px;
    background: transparent;
    color: white;
     margin-top: -20px;
     margin-bottom: 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .subtitle{
    height: 18px;
    width: 40px;
    /* background-color:wheat; */
    align-content: center;
    font-size: small;
    color:white !important;
    /* margin: 0px 170px; */
    margin-left: 140px;
  }
  .overview{
    margin-left: -1px;
    margin-top: -20px;
    margin-bottom: 10px;
    color: wheat;
    background: transparent;
    /* justify-content: flex-start; */
    /* font-style: normal; */
    font-size: 15px;
  }
  .readmore{
    color: white;
    box-shadow: 2px 2px #6A7F87;
    margin-left: 50px;
    border: 1px solid red;
  }
.navcontainer{
    width: 98vw;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.navblock ul li{
    list-style-type: none;
    list-style: none;
   
}
nav img{
    height: 40px;
    margin: 0px 40px;
}


.listitems {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}
.listitems ul{
    /* list-style: none; */
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 15.2%;
    gap: 0px;
    color: #F94D53;
}
.listitems ul a{
    text-decoration: none;
}
.logos {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fb {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: transparent;
}
.insta {
  display: flex;
  margin-bottom: 20px;
  background: transparent;
}

.fb img {
  width: 40px; 
  height: 40px;
  margin-top: 10px;
  margin-left: 100px; 
}.insta img {
  width: 40px; 
  height: 40px;
  margin-top: 290px;
  margin-left: -170px;
}
.fb p a {
  color: white;
 
}
.fb p{
  background: transparent;
}
.insta p {
  margin-top: 300px;
  color: white;
  background: transparent;
}

.fb a, .insta a {
  text-decoration: none;
  color: #000; 
}

.fb a:hover, .insta a:hover {
  text-decoration: underline;
}
  .Aboutinfo{
    color: wheat;
    height: fit-content;
    
  }
  .Aboutinfo h2, strong,h3,p{
    background:transparent;
  }
  p{
    text-align: justify;
    margin: 35px ;
    font-style: italic;
  }
  .details-card{
    margin: 20px;
    padding: 5px;
    /* display: flex; */
    flex-direction: column;
    height: fit-content;
    font-size: x-large;
  }
  .card-img{
    width: 40% !important;
    height: 400px;
    border-radius: 10px;
    /* box-shadow: 5px 5px #2e1616; */
    margin-top: -20px;
    margin-left: -20px;
    background:transparent;
  }
  .details-image{
    height: 400px;
    width: 400px;
    background:transparent;
  }
  .detailsTitle{
    font-size: 50px;
    margin: -400px 0px 0px 440px;
    color:#F94D53;
    background:transparent;
  }
  .trailer  button{
    border: 1px solid #F94D53;
    /* background: linear-gradient(to bottom right, #1A1F21 30%, #6A7F87 100%); */
    color: white;
    align-items: center;
    margin:5px;
  }
  .detailssubtitle{
    margin-left: 900px;
    margin-top: -80px;
    color: #F94D53 !important;
    background:transparent;
  }
  .detailsoverview{
    margin: 0px 0px 0px 450px;
    font-style: oblique;
    color:#F94D53;
    width: 500px;
    height: 150px;
    font-size: large;
  }
  .date, .language, .trailer ,.director{
    margin: 0px 440px;
    color: white;
    z-index: 5;
    background:transparent;
  }
  .list-group-flush{
    margin-top: 20px;
    background:transparent;
  }
  .list-group{
    background:transparent
  }
  .list-group-item{
    background:transparent;
    color: wheat !important;
    font-size: medium;
  }
  .castlist {
    margin-top: 75px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background:transparent;
  }
  .cast-card {
    width: 130px;
    height: 195px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  } 
  .cast-card img {
    width: 110px;
    height: 120px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
  }
  .cast-card p {
    text-align: center;
    margin: 10px 0 0;
    font-size: medium;
    color: wheat;
  }
  
  .reviews-section{
    margin-left: 100px;
    /* width: 1000px; */
    font-size: medium;
    color: wheat;
    background:transparent;
  }
  .addingReview{
    width: 400px;
    height: 40px;
    border: 1px solid #F94D53;
  }
  .reviews{
    background: transparent;
  }
  .reviews button{
    margin-left: 300px;
    color: wheat;
    border: 1px solid #F94D53;
    /* background:linear-gradient(to bottom right, #1A1F21 30%, #6A7F87 100%) ; */
  }
  .searchbox{
    border-radius: 30px;
    margin: -7px 0px;
  }
 
  .searchbox:focus{
    background-color: white;
  }
  .pagination{
   display: flex;
   margin: 10px 30px;
   align-items: center;
   justify-content: center;
   color: white;
  }
  .page{
    padding: 10px;
    cursor: pointer;
  }
  .page.disabled{
    cursor: not-allowed;
    color: black;
  }
  .current{
    padding: 10px 20px;
    border-radius: 50px;
    border:2px solid #F94D53;
    font-size: medium;
  }
  @media screen and (max-width: 352px){
    .navcontainer {
      display:none;
    }
  }